:root{
  --main-color: #47A90E;
  --second-color: #2c6a09;
}

body {
  background: #f1f3f5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400;
}
a {
  color: var(--main-color);
}
a:hover {
  color: var(--second-color);
}
a:hover, a:focus {
  text-decoration: none;
}

img, iframe, embed {
  max-width: 100%;
}
.navbar, footer {
background:var(--main-color);
}

.navbar .nav-item {
  line-height: 1em;
}
.navbar .nav-item .nav-link {
  color: #fff;
}
.navbar .nav-item .nav-link:hover {
  color: var(--second-color);
}
.navbar .navbar-toggler:focus {
  outline: none;
}
.navbar .navbar-text {
	font-size:0.7em;
}
.card-body .title .card-title, .card-title {
  color: var(--main-color);
}
.card-body .title:hover .card-title {
  color: var(--second-color);
}

.footer {
  color: #fff;
  padding: 10px;
}
.footer .social {
  padding: 0;
  list-style: none;
}
.footer .social li.nav-item a.nav-link {
  color: #fff;
}
.footer .social li.nav-item a.nav-link img.nav-svg-icon {
  width: 1rem;
  height: 1rem;
  padding-bottom: 2px;
}
.footer .social li.nav-item a.nav-link:hover {
  color: #fff;
}
.footer .footer-text {
  font-size: 0.7em;
}

